---
layout: base
---

{% include header.html type="page" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {{ content }}

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</main>

<style>
  /* list no decorator */
  h1 {
    margin-bottom: 30px;
  }

  h3 {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
  }

  .info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.avatar img{
  max-width: 200px;
}

@media (max-width: 768px) {
  .info-container {
    grid-template-columns: 1fr;
  }

  .avatar img {
    display: block; /* Ensures the image is treated as a block-level element */
    margin: 0 auto; /* Centers the image horizontally */
    max-width: 150px; /* Keeps the existing max-width */
  }
}
</style>